body{
        font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
}
.margin_a{
    margin-left: 8%;
 
}
.link-dark{
text-decoration: none;
}
.footer{
    background-color: black;
}

